* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: black;
}

body {
    background-image: url(coffee.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header{
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.8);
}

header p {
  font-size: 4rem;
  color: snow;
  text-align: center;
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  gap: 3rem;
}

nav button {
  all: unset;
  font-size: 1.5rem;
  cursor: pointer;
  color: snow;
}
