@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Calistoga';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/calistoga-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/inter-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: black;
}

body {
    background-image: url(coffee.jpg);
    font-family: 'Inter';
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
   display: grid;
   grid-template-rows: auto 1fr;
}

header{
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.8);
}

header p {
  font-family: 'Calistoga';
  font-size: 4rem;
  color: snow;
  text-align: center;
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  gap: 3rem;
}

nav button {
  all: unset;
  font-family: 'Inter';
  font-size: 1.3rem;
  cursor: pointer;
  color: snow;
}

#content {
  display: flex;
  align-items: center;
  justify-content: center;
}
